<div class="container">
    <h2 class="brand-title">Password Generator</h2>
    <div>
    <label class="inputs">Length</label>
      <input class="length" (input)="onChangeLength($any($event.target).value)" />
    </div>

      <label>
        <input type="checkbox" (change)="onChangeLetters()" />
        Use Letters
      </label>
      <label>
        <input type="checkbox" (change)="onChangeNumbers()" />
        Use Numbers</label>
      <label>
        <input type="checkbox" (change)="onChangeSymbols()" />
        Use Symbols</label>

      <button [disabled]="!(length&&(includeLetters|| includeNumbers|| includeSymbols))" (click)="onClickButton()" >Generate!</button>
       
      <label class="inputs">Your Password</label>
        <input class="length"  *ngIf="password" type="text" [value]="password" />
</div>